body {
  font-family: 'Montaga', serif;
}
.box-header h3 {
  font-size: 23px;
}
.box-header small {
  font-size: 18px;
}

.collections {
  margin-left: 8px;
  margin-top: 10px;
}

.collections img {
  padding: 3px;
  width: 14%;
  height: 14%;
}
.chart-img img {
  padding: 3px;
  width: 6%;
  height: 6%;
}
.chart-img {
  margin-left: 15px;
  margin-top: 12px;
}
.direct-icon img {
  width: 12%;
  height: 12%;
}
.tpayer-img {
  margin-top: -10px;
  margin-bottom: 10px;
}
.tpayer-img img {
  width: 12%;
  height: 12%;
}

@media screen and (max-width: 768px) {
  .col-sm-6 h4 {
    font-size: 30px !important;
  }

  .col-sm-6 small {
    font-size: 15px !important;
    margin-left: 2px !important;
  }

  .box-header h3 {
    font-size: 18px !important;
  }

  .btn-group label {
    width: 100% !important;
  }
  .collect {
    width: 100% !important;
  }
  .row h4,
  th {
    font-size: 15px !important;
    font-weight: lighter !important;
  }

  .chart-img img {
    padding: 3px;
    width: 10%;
    height: 10%;
  }
  .chart-img {
    margin-left: 23px;
    margin-top: 12px;
  }
  .collections img {
    margin-bottom: 15px;
    width: 10%;
    height: 10%;
  }
  .direct-icon img {
    width: 10%;
    height: 10%;
    margin-bottom: 10px;
  }
  .box-header h3 {
    font-size: 10px !important;
  }
  .box-header small {
    font-size: 8px !important;
  }
}
